<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}{%if self.title() %} - {% endif %}メモアプリ</title>
  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
  <script>
    tailwind.config = {
      darkMode: 'class',
      theme: {
        extend: {
          colors: {
            vantan: '#df0011',
          }
        }
      }
    }
  </script>

  <!-- Flowbite -->
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet"
    as="style" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/font.css">

  {% block header %}
  {% endblock %}
</head>

<body class="bg-slate-200 dark:bg-gray-950">
  {% include "components/header.html" %}
  <main class="mt-16 min-h-screen h-full w-full py-12">
    {% block body %}
    {% endblock %}
  </main>
  <script src="/static/js/theme.js"></script>
</body>

</html>
