{% extends "base.html" %}
{% block body %}
<div class="login-case max-w-md w-full m-auto p-5 bg-gray-50 dark:bg-gray-900 flex flex-col">
  <h1 class="text-gray-800 dark:text-white text-4xl font-normal py-6 ax-auto text-center">
    LOGIN
  </h1>

  <form action="/login/" method="post">
    {{ form.csrf_token }}

    {% set form_class = "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
          focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
    <label for="email" class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">メール</label>
    {{
      form.email(
        placeholder="name@example.com",
        class_=form_class
      )
    }}
    {% if "email" in form.errors %}
      {% for error_message in form.errors.email %}
        <p class="text-red-800 text-xs dark:text-red-400 pt-2">{{ error_message }}</p>
      {% endfor %}
    {% endif %}

    <label for="password" class="block mb-2 mt-4 text-sm font-semibold text-gray-900 dark:text-white">パスワード</label>
    {{
      form.password(
        placeholder="•••••••••",
        class_=form_class
      )
    }}
    {% if "password" in form.errors %}
      {% for error_message in form.errors.password %}
        <p class="text-red-800 text-xs dark:text-red-400 pt-2">{{ error_message }}</p>
      {% endfor %}
    {% endif %}

    <button type="submit"
      class="w-full text-white text-2xl font-semibold bg-blue-600 py-2 mt-10 hover:bg-blue-900 dark:hover:bg-blue-900">
      ログイン
    </button>
  </form>
</div>
{% endblock %}
